language: python

python:
        - "3.5.3"


install:
        - pip install -r requirements.txt
        - pip install pyinstaller
        - pyinstaller OpenMineMods.spec


before_script:
        - "export DISPLAY=:99.0"
        - "sh -e /etc/init.d/xvfb start"
        - sleep 3
script:
        - "./dist/OpenMineMods/OpenMineMods --test"


before_deploy:
        - "zip -r Linux.zip dist/OpenMineMods"


deploy:
        provider: releases
        api_key:
                secure: sdjsd
        file: "Linux.zip"
        skip_cleanup: true
        on:
                tags: true
