<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenMineMods v{{version}}</title>
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>
<div class="notif">
    % if "installed" in q:
    <h3>Mod Installed!</h3>
    % end
    % if "removed" in q:
    <h3>Mod Removed!</h3>
    % end
</div>
<center>
<h3>
    Basic Information
</h3>
<table border="1">
    <tr>
        <td>
            Name:
        </td>
        <td>
            {{instance.name}}
        </td>
    </tr>
    <tr>
        <td>
            Minecraft Version:
        </td>
        <td>
            {{instance.version}}
        </td>
    </tr>
    <tr>
        <td>
            Location On Disk:
        </td>
        <td>
            {{instance.path}}
        </td>
    </tr>
    <tr>
        <td>
            Forge Version:
        </td>
        <td>
            <b>TODO</b>
        </td>
    </tr>
</table>
<h3>
    Mod List
</h3>
<table border="1">
    <tr>
        <td>
            <b>Mod Version</b>
        </td>
        <td>
            <b>Mod Name</b>
        </td>
        <td>
            <b>Filename</b>
        </td>
        <td>

        </td>
    </tr>
    % for mod in instance.mods:
    <tr>
        <td>
            {{mod.name}}
        </td>
        <td>
            {{mod.version}}
        </td>
        <td>
            {{mod.filename}}
        </td>
        <td>
            <a href="{{instance.uuid}}/remove/{{mod.name}}">
                <button>
                    Remove
                </button>
            </a>
        </td>
    </tr>
    % end
    <tr>
        <td colspan="4">
            <a href="{{instance.uuid}}/browse-mods">
                <button style="width: 100%">
                    Browse Mods
                </button>
            </a>
        </td>
    </tr>
</table>
</center>
</body>
</html>