<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenMineMods v{{version}}</title>
</head>
<body>
    <h1>Installed Packs</h1>
    <table border="1">
        % for pack in packs:
        <tr>
            <td>
                {{pack.name}}
            </td>
            <td>
                Minecraft {{pack.version}}
            </td>
            <td>
                <a href="/edit/{{pack.uuid}}">
                    <button>Edit</button>
                </a>
            </td>
            <td>
                <a href="/uninstall/{{pack.uuid}}">
                    <button stye="background-color: #F00; color: #FFF;">
                        UNINSTALL
                    </button>
                </a>
            </td>
        </tr>
        % end
        <tr>
            <td colspan="3">
                <a href="/browse-packs">
                    <button style="width: 100%">
                        Browse Packs
                    </button>
                </a>
            </td>
        </tr>
    </table>
</body>
</html>