$background-color: #282828;
$text-color: #FFFFFF;

* {
    background-color: $background-color;
    color: $text-color;
}

.QWidget * {
    background-color: $background-color;
    color: $text-color;
}
